@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --mainbg: #111315;
  --secbg: #1f2123;
  --white: #ffffff;
  --grey: #c0c0c0;
  --pokefont: "Chakra Petch", sans-serif;
  --shadow: 0.05rem 0.05rem #1d1d1d;
  --transparent: #00ffff00;
}

html {
  margin: 0;
  padding: 0;
  user-select: none;
  font-size: 20px;
  letter-spacing: 0.05rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  background-color: var(--mainbg);
  color: var(--white);
  font-family: var(--pokefont);
}

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--grey) var(--mainbg);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 0.5rem;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#container {
  margin: 0% 6%;
  position: fixed;
  inset: 0;
  gap: 2%;
}

#left-sec {
  width: 70%;
  display: grid;
  grid-template-rows: 9% 19% 69.5%;
  gap: 0.5rem;
}

#right-sec {
  width: 30%;
  display: grid;
  grid-template-rows: 9% 90%;
  gap: 0.5rem;
}

/* Left Section */

#left-sec nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-div {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

#logo {
  height: 2.2rem;
  width: 2.2rem;
  margin-right: 0.5rem;
}

#logo-text {
  font-size: 1.7rem;
  font-weight: 700;
}

#search-icon {
  height: 1rem;
  width: 1rem;
  margin: auto auto auto 0;
  padding-bottom: 0.1rem;
}

#search-bar {
  height: 2.25rem;
  width: 14rem;
  background-color: var(--secbg);
  display: flex;
  justify-content: space-between;
  border: 0.05rem solid var(--transparent);
  border-radius: 0.5rem;
}

#search-bar:focus-within {
  border: 0.05rem solid var(--white);
}

#search-bar input {
  background: transparent;
  width: 11rem;
  font-family: var(--pokefont);
  font-size: 0.9rem;
  border: 0;
  outline: none;
  padding: 0.25rem 0.25rem 0.25rem 0.9rem;
  color: var(--white);
}

::placeholder {
  color: var(--grey);
}

#search-bar input:focus {
  border: 0;
}

/* Types Section */

#type-text {
  font-size: 1.3rem;
  margin: 0 0.25rem;
}

#types > hr {
  width: 19%;
  color: var(--white);
  border: 0.075rem solid;
  text-align: left;
  margin-left: 0.25rem;
}

#type-btns {
  display: grid;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 0;
  text-shadow: var(--shadow);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}

#type-btns li {
  list-style: none;
  margin: 0.25rem;
  padding: 0.3rem;
  background-color: var(--grey);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

.selected {
  outline: 0.2rem solid var(--white);
  outline-offset: -0.1rem;
}

#type-btns li:active {
  transform: scale(0.9);
}

#pokemons {
  margin: 1% 0;
  width: 100%;
  justify-content: center;
}

#poke-container {
  overflow-y: auto;
  height: 100%;
  border-radius: 1.5rem;
}

#poke-results {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0.4rem;
  justify-content: center;
  gap: 2%;
}

#fetching {
  font-size: 1.5rem;
  margin-top: 7.5rem;
}

#load-more-btn {
  margin: 1rem auto 0.25rem;
  width: max-content;
  display: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.4rem 1rem;
  color: var(--mainbg);
  border-radius: 5rem;
  transition: all 0.2s ease;
  background-color: var(--white);
  align-self: center;
}

#load-more-btn:active {
  transform: scale(0.9);
}

.poke-card {
  flex-grow: 1;
  max-width: 22.5%;
  width: 22%;
  aspect-ratio: 1/1;
  display: grid;
  padding: 0.25rem;
  margin: 0.5rem 0;
  background-color: var(--secbg);
  border-radius: 1rem;
  grid-template-rows: 18% 12% 50% 20%;
  transition: transform 0.2s ease-in;
}

.poke-card:hover {
  box-shadow: 0 0 0.2rem 0 #8b8b8b;
  transform: translate(0, -0.4rem);
}

.poke-name {
  text-transform: capitalize;
  margin: auto auto auto 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.poke-price {
  margin: auto auto auto 0.5rem;
  font-size: 1rem;
  color: var(--grey);
}

.poke-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hide-img {
  display: none;
}

.poke-count {
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: flex-end;
}

.count {
  margin: 0.25rem 0;
  padding: 0.25rem;
  width: 2.5rem;
  text-align: center;
}

.count-btns {
  margin: 0.15rem 0.4rem;
  padding: 0.4rem;
  height: 0.5rem;
  width: 0.5rem;
  line-height: 0.45rem;
  border: 0.1rem solid var(--grey);
  border-radius: 0.25rem;
  cursor: pointer;
}

#not-found {
  margin: 7.5rem auto;
  font-size: 1.8rem;
}

/* Right Section */

#right-sec nav {
  margin: auto;
}

#cart-text {
  font-size: 1.8rem;
  line-height: 2.25rem;
  margin-right: 0.6rem;
  font-weight: 600;
}

#right-sec > div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#bill-box {
  flex-grow: 1;
  min-height: 34%;
  background-color: var(--secbg);
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  margin: 0 calc(3% + 0.6rem) 3% 3%;
}

#no-items {
  margin: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--grey);
  display: block;
}

#no-items img {
  height: 2.25rem;
  width: 2.25rem;
  margin-bottom: 0.5rem;
  filter: opacity(0.6);
}

#cart {
  margin: 0 3%;
  overflow-y: auto;
  counter-reset: count-item;
}

.poke-item {
  width: calc(100% - 0.6rem);
  height: 3rem;
  box-sizing: border-box;
  padding: 0 4%;
  border-radius: 0.75rem;
  background-color: var(--secbg);
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
  margin-right: 0.6rem;
}

.item-name::before {
  content: counter(count-item);
  counter-increment: count-item;
  color: var(--mainbg);
  background-color: var(--white);
  font-weight: 600;
  display: inline-block;
  text-align: center;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  border-radius: 1rem;
  margin-right: 0.75rem;
}

.item-count {
  color: var(--grey);
  margin-left: 0.5rem;
}

.item-price {
  margin-left: auto;
  font-weight: 500;
}

.delete-btn {
  object-fit: contain;
  width: 0;
  transition: all 0.5s ease;
  height: 1.3rem;
  margin-left: 0;
  cursor: pointer;
}

.poke-item:hover .delete-btn {
  width: 1.3rem;
  margin-left: 1rem;
}

#bill {
  margin: 4%;
  display: none;
  flex-direction: column;
  flex-grow: 1;
}

.bill-text {
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}

#bill hr {
  border: none;
  border-bottom: dashed 0.1rem var(--grey);
  margin: 4% 0;
}

.bill-total {
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
  font-size: 1.4rem;
  font-weight: 500;
}

#buy-btn {
  margin: auto 0 0.25rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.4rem 0;
  color: var(--mainbg);
  border-radius: 5rem;
  transition: all 0.2s ease;
  background-color: var(--white);
}

#buy-btn:active {
  transform: scale(0.9);
}

@media (max-width: 2400px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 2300px) {
  html {
    font-size: 23px;
  }
}

@media (max-width: 2200px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 2100px) {
  html {
    font-size: 21px;
  }
}

@media (max-width: 2000px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1900px) {
  html {
    font-size: 19px;
  }
}

@media (max-width: 1800px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1700px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 13px;
  }
}
